@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Nanum+Gothic&family=Quicksand:wght@300&display=swap");
.weatherApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../sunday.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: vw;
}

.temperture {
  margin: 5px;
  font-family: "Bitter", serif;
  color: #2e2e2e;
}

.citySearch {
  margin: 5px;
  font-family: "Bitter", serif;
  color: #2e2e2e;
}

.tempHighLow {
  margin: 5px;
  font-family: "Bitter", serif;
  color: #2e2e2e;
}

.currentCondition {
  margin: 5px;
  font-family: "Bitter", serif;
  color: #2e2e2e;
  text-transform: capitalize;
}

.moisture {
  margin: 5px;
  font-family: "Bitter", serif;
  color: #2e2e2e;
}

.feelsLike {
  margin: 5px;
  font-family: "Bitter", serif;
  color: #2e2e2e;
}

.currentDate {
  margin: 5px;
  font-family: "Bitter", serif;
  color: #2e2e2e;
}

.wrap {
  padding: 25px;
  border: 0.1px solid rgb(96, 96, 96);
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background: rgba(219, 216, 216, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.searchButton {
  padding: 8px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.locationInput {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #333;
  border-radius: 5px;
}
